---
const { heading, description, items } = Astro.props;
---

<section class="exp-list sc-grey sc-al-cnt sc-pd sc-grey-C">
    <div class="container">
        <div class="sc-wrapper">
            <div class="sc-headline ps-rel">
                <h2>{heading}</h2>
                <div class="sc-txt">
                    <p>{description}</p>
                </div>
            </div>
        </div>
        <div class="exp-list-items fx fx-wrap fx-jc ps-rel">
            {items.map((item: { title: string; subtitle: string; keyPoints: any[]; outcome: string; }) => (
                <div class="exp-acc-item ps-rel">
                    <div class="exp-acc-top fx fx-ac fx-jb fwidth">
                        <div class="exp-acc-top-lcol">
                            <h5>{item.title}</h5>
                            <h6>{item.subtitle}</h6>
                        </div>
                        <div class="exp-acc-top-rcol">
                            <div class="exp-acc-toggle fx fx-ac fx-jc">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M13.4975 6.50045L8.00391 10.6164L2.5103 6.50045" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="exp-acc-main fwidth">
                        <div class="exp-acc-wrap fx fx-wrap">
                            <div class="exp-acc-md fwidth fx fx-wrap">
                                <div class="exp-acc-md-wrap fwidth">
                                    <div class="exp-acc-lbl-row fx">
                                        <div class="exp-acc-lbl fx fx-ac fx-jc">
                                            <span>Key Points:</span>
                                        </div>
                                    </div>
                                    <div class="exp-acc-key-points fx fx-wrap">
                                        {item.keyPoints.map((point: string) => (
                                            <div class="exp-acc-key-point fx fx-ac">
                                                <div class="exp-acc-dot fx fx-ac fx-jc">
                                                    <div class="exp-dot"></div>
                                                </div>
                                                <span>{point}</span>
                                            </div>
                                        ))}
                                    </div>
                                </div>
                            </div>
                            <div class="exp-acc-btm fwidth fx fx-wrap">
                                <div class="exp-acc-btm-wrap fwidth">
                                    <div class="exp-acc-lbl-row fx">
                                        <div class="exp-acc-lbl fx fx-ac fx-jc">
                                            <span>Outcome:</span>
                                        </div>
                                    </div>
                                    <div class="exp-acc-btm-txt">
                                        <p>{item.outcome}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </div>
</section>

<style>
    .exp-list-items{
        margin-top: 3.75rem;
        gap: 1.5rem;
        z-index: 1;
    }
    .exp-acc-item.opened{
        background: #252831;
        border-radius: 1.25rem;
    }
    .exp-acc-item{
        border-radius: 1.25rem;
        width: calc((100% - 1.5rem) / 2);
    }
    .exp-acc-item.opened .exp-acc-top{
        border-radius: 1.25rem 1.25rem 0 0;
    }
    .exp-acc-item .exp-acc-toggle svg {
        transition: transform 0.3s ease;
    }
    .exp-acc-item.opened .exp-acc-toggle svg {
        transform: rotate(180deg);
    }
    .exp-acc-top{
        padding: 2rem;
        border-radius: 1.25rem;
        background: #343741;
        gap: 1.5rem;
        cursor: pointer;
    }
    .exp-acc-main{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }
    .exp-acc-top-lcol{
        flex-grow: 1;
    }
    .exp-acc-top-lcol h5{
        color: var(--white);
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: 0.018rem;
        width: 100%;
        margin: 0;
    }
    .exp-acc-top-lcol h6{
        color: var(--white);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.01rem;
        width: 100%;
        margin: 0.5rem 0 0 0;
        font-family: 'pp_neue_montrealbook';
    }
    .exp-acc-toggle{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 0.75rem;
        background: #444854;
    }
    .exp-acc-md, .exp-acc-btm{
        border-top: 0.063rem solid var(--white);
        background: #252831;
    }
    .exp-acc-btm{
        border-radius: 0 0 1.25rem 1.25rem;
    }
    .exp-acc-md-wrap, .exp-acc-btm-wrap{
        padding: 0 2rem 2rem 2rem;
    }
    .exp-acc-lbl{
        border-radius: 0 0 0.75rem 0.75rem;
        background: var(--lightGrey3);
        padding: 0.625rem;
    }
    .exp-acc-lbl span{
        color: #343741;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1rem;
        letter-spacing: 0.038rem;
        text-transform: uppercase;
    }
    .exp-acc-btm-txt{
        margin-top: 1.5rem;
    }
    .exp-acc-btm-txt p{
        color: var(--white);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: 0.01rem;
        margin: 0;
    }
    @media screen and (max-width:1000px) {
        .exp-list-items {
            margin-top: 24px;
            gap: 12px;
        }
        .exp-acc-md-wrap, .exp-acc-btm-wrap{
            padding: 0 16px 16px 16px;
        }
        .exp-acc-lbl {
            border-radius: 0 0 5px 5px;
            padding: 6px 8px;
        }
        .exp-acc-lbl span {
            font-size: 9px;
            line-height: 12px;
            letter-spacing: 0.18px;
        }
        .exp-acc-btm-txt {
            margin-top: 12px;
        }
        .exp-acc-item {
            border-radius: 10px;
            width: calc((100% - 12px) / 2);
        }
        .exp-acc-item.opened {
            border-radius: 10px;
        }


    }
    @media screen and (max-width:650px) {
        .exp-acc-item {
            width: 100%;
        }
    }
    @media screen and (max-width:479px) {
        .exp-list-items {
            margin-top: 40px;
        }

        
    }
    @media screen and (max-width:340px) {
        .exp-acc-key-point {
            width: 100%;
        }
    }    
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.exp-acc-item').forEach(item => {
            const header = item.querySelector('.exp-acc-top');
            const content = item.querySelector('.exp-acc-main');

            if(!item.classList.contains('exp-faq')){
                item.classList.add('opened');
                content.style.maxHeight = content.scrollHeight + 'px';
            }
            
            header.addEventListener('click', () => {
            const isOpen = item.classList.contains('opened');

            if (isOpen) {
                item.classList.remove('opened');
                content.style.maxHeight = '0px';
            } else {
                item.classList.add('opened');
                content.style.maxHeight = content.scrollHeight + 'px';
            }
            });
        });
        window.addEventListener('resize', () => {
            document.querySelectorAll('.exp-acc-item.opened .exp-acc-main').forEach(el => {
                el.style.maxHeight = el.scrollHeight + 'px';
            });
        });
    });
</script>