---
const { heading, description, items } = Astro.props;
---

<section class="exp-br-sc sc-pd ps-rel">
    <div class="container">
        <div class="sl-row exp-sl-br-row fx fx-jb ps-rel">
            <div class="sl-lcol">
                <h2 set:html={heading}></h2>
                <div class="sc-txt">
                    <p>{description}</p>
                </div>
            </div>
            <div class="sl-rcol">
                <div class="exp-sl-row fx fx-wrap">
                    {items.map((item: { title: string; subtitle: string; text: string; link: string; }) => (
                        <div class="exp-sl-col">
                            <a href={item.link} class="fx fx-wrap fx-ae">
                                <div class="exp-sl-col-top fwidth">
                                    <div class="exp-sl-name-row fx fx-jb fx-ac">
                                        <h3 set:html={item.title}></h3>
                                        <div class="exp-sl-arr fx fx-jc fx-ac">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                <path d="M12.5025 2.019L18.4776 9.99414L12.5025 17.9693" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M1.50391 9.99414L18.0039 9.99414" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="exp-sl-name-t">
                                        <p>{item.subtitle}</p>
                                    </div>
                                </div>
                                <div class="exp-sl-col-btm">
                                    <div class="sc-txt">
                                        <p>{item.text}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    ))}
                    <div class="exp-sl-col-last fx fx-wrap fx-ac fx-jc">
                        <a href="/solutions" class="fx fx-wrap fx-ac fx-jc">
                            <div class="exp-sl-col-inner">
                                <div class="exp-sl-lt-arr fx fx-jc fx-ac">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="18" viewBox="0 0 8 18" fill="none">
                                        <path d="M1.00053 0.999959L6.97567 8.9751L1.00053 16.9502" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <span>View All Solutions</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .sl-lcol{
        width: 46%;
    }
    .sl-rcol{
        width: 50%;
    }
    .exp-sl-row{
        gap: 1.5rem;
    }
    .exp-sl-col{
        width: calc((100% - 1* 1.5rem) / 2);
        padding: 2rem;
        border-radius: 1.25rem;
        background: #252831;
    }
    .exp-sl-col a{
        height: 100%;
    }
    .exp-sl-col-top{
        align-self: flex-start;
    }
    .exp-sl-arr, .exp-sl-lt-arr{
        width: 3.5rem;
        height: 3.5rem;
        flex-shrink: 1;
        background: #444854;
        border-radius: 0.5rem;
    }
    .exp-sl-lt-arr{
        background: #449AFF;
        margin: auto;
    }
    .exp-sl-name-row h3{
        flex-grow: 1;
    }
    .exp-sl-name-t{
        margin-top: 0.75rem;
    }
    .exp-sl-name-t p{
        color: #1ECE76;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.125rem;
        letter-spacing: 0.01rem;
        margin: 0;
    }
    .exp-sl-col-last{
        width: calc((100% - 1* 1.5rem) / 2);
        background: #167EF9;
        border-radius: 1.25rem;
    }
    .exp-sl-col-last a{
        width: 100%;
        height: 100%;
    }
    .exp-sl-col-last a span{
        color: var(--white);
        text-align: center;
        font-size: 1em;
        font-weight: 500;
        line-height: 1.25rem;
        margin-top: 1.5rem;
        display: block;
        width: 100%;
    }
    .exp-sl-br-row{
        z-index: 1;
    }
    @media screen and (max-width: 479px){
        .sl-row{
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .sl-lcol, .sl-rcol{
            width: 100%;
        }
    }
</style>