---
const { heading, description, steps, resultText } = Astro.props;
---

<section class="exp-br-prc sc-al-cnt sc-pd ps-rel">
    <div class="container">
        <div class="sc-wrapper">
            <div class="sc-headline ps-rel">
                <h2>{heading}</h2>
                <div class="sc-txt">
                    <p>{description}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="exp-br-prc-scroll" style={`--steps: ${steps.length}`}>
        <div class={`exp-br-prc-row fx ${steps.length <= 5 ? 'fx-jc m-pd' : ''}`}>
            {steps.map((step: { stepNumber: string; title: string; description: string; }) => (
                <div class="exp-br-prc-col fx fx-wrap fx-ae ps-rel">
                    <div class="exp-acc-dot fx fx-ac fx-jc">
                        <div class="exp-dot"></div>
                    </div>
                    <div class="exp-br-prc-top">
                        <p>{step.stepNumber}</p>
                        <h6 set:html={step.title}></h6>
                    </div>
                    <div class="exp-br-prc-btm">
                        <p>{step.description}</p>
                    </div>
                </div>
            ))}
        </div>
    </div>
    <div class="container">
        <div class="sc-wrapper">
            <div class="sc-txt">
                <p>{resultText}</p>
            </div>
        </div>
    </div>
</section>

<style>
    .exp-br-prc:before {
        content: "";
        position: absolute;
        top: -18rem;
        left: 0;
        width: 100%;
        height: 31.25rem;
        background: url(/br-grd.webp) no-repeat;
        background-size: 100% 100%;
        z-index: 0;
    }
    .exp-br-prc-row.m-pd{
        padding-right: 5rem;
    }
    .exp-br-prc-scroll {
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        cursor: grab;
    }
    .exp-br-prc-scroll::-webkit-scrollbar {
        display: none;
    }
    .exp-br-prc-row{
        margin: 5.75rem 0 3.75rem 0;
        gap: 1.5rem;
        padding: 0 0 0 5rem;
        flex-wrap: nowrap;
        min-width: max-content;
    }
    .exp-br-prc-col{
        width: 18rem;
        height: 21rem;
        border-radius: 1.25rem;
        background: #252831;
        padding: 2.5rem 2rem;
        flex-shrink: 0;
    }
    .exp-br-prc-col:not(:last-child):before{
        content: "";
        position: absolute;
        top: -2.5rem;
        left: 50%;
        width: calc(100% + 1.5rem);
        height: 1rem;
        border: 0.063rem solid #5A5E68;
        border-radius: 0.625rem 0.625rem 0 0;
        filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.12));
        border-bottom: 0;
    }
    .exp-br-prc-col:not(:first-child):before{
        border-left: 0;
    }
    .exp-br-prc-top{
        align-self: flex-start;
    }
    .exp-br-prc-top p{
        color: #989CA9;
        font-size: 3.75rem;
        font-weight: 500;
        line-height: 5rem;
        letter-spacing: 0.038rem;
        margin: 0;
    }
    .exp-br-prc-top h6{
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.75rem;
        letter-spacing: 0.015rem;
        margin: 0;
    }
    .exp-br-prc-btm p{
        color: var(--white);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.01rem;
        margin: 0;
    }
    .exp-acc-dot{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: -0.75rem;
        border-radius: 0.625rem;
        border: 1px solid #5A5E68;
        background: #51535A;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
    }
    .exp-dot{
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 0.25rem;
        background: linear-gradient(0deg, #999A9F 0%, #6B6C70 27.88%, #CDCFD6 82.69%, #EBECF2 100%);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    }
    @media screen and (min-width:1601px){
        .exp-br-prc-row{
            padding-right: 5rem;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const slider = document.querySelector('.exp-br-prc-scroll');

        const updateCursor = () => {
            if (slider.scrollWidth > slider.clientWidth) {
                slider.style.cursor = 'grab';
            } else {
                slider.style.cursor = 'default';
            }
        };

        updateCursor();
        window.addEventListener('resize', updateCursor);

        let isDown = false;
        let startX;
        let scrollLeft;

        slider.addEventListener('mousedown', (e) => {
            isDown = true;
            slider.classList.add('active');
            startX = e.pageX - slider.offsetLeft;
            scrollLeft = slider.scrollLeft;
        });
        slider.addEventListener('mouseleave', () => {
            isDown = false;
            slider.classList.remove('active');
        });
        slider.addEventListener('mouseup', () => {
            isDown = false;
            slider.classList.remove('active');
        });
        slider.addEventListener('mousemove', (e) => {
            if (!isDown) return;
            e.preventDefault();
            const x = e.pageX - slider.offsetLeft;
            const walk = (x - startX);
            slider.scrollLeft = scrollLeft - walk;
        });

        slider.addEventListener('wheel', (e) => {
            const canScrollHorizontally =
            slider.scrollWidth > slider.clientWidth &&
            (e.deltaY > 0 && slider.scrollLeft < slider.scrollWidth - slider.clientWidth ||
            e.deltaY < 0 && slider.scrollLeft > 0);

            if (canScrollHorizontally) {
            e.preventDefault();
            slider.scrollLeft += e.deltaY;
            }
        }, { passive: false });
    });
</script>