---
import { Image } from 'astro:assets';
const { img, title, subTitle, text } = Astro.props;

---

<section class="exp-hero sc-al-cnt">
    <div class="container">
        <div class="exp-sc-wrap fx fx-wrap">
            <div class="exp-graphic">
                <Image src={img} alt={title} />
            </div>
            <div class="exp-intro-text">
                <h1 class="txt-anim" set:html={title}></h1>
                <div class="sc-txt txt-anim">
                    {subTitle && (
                        <p set:html={subTitle}></p>
                    )}
                    <p>{text}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style is:global>
    .exp-sc-wrap{
        width: 45rem;
        margin: auto;
    }
    .exp-graphic{
        margin: 2rem auto 7rem auto;
    }
    .pg-exp .exp-hero{
        padding-bottom: 9.375rem;
    }
    .exp-intro-text .sc-txt p:not(:last-child) {
        margin-bottom: 1rem;
    }
    @media screen and (max-width:1000px) {
        .pg-exp .exp-hero {
            padding-bottom: 60px;
        }
        .exp-graphic {
            margin: 30px auto 60px auto;
        }
    }
    @media screen and (max-width:700px) {
        .exp-sc-wrap {
            width: 100%;
        }
    }
    @media screen and (max-width:479px) {
        .exp-sc-wrap {
            padding: 0 16px;
        }
    }
</style>