---
const { heading, description, button1text, button1Link, button2text, button2Link } = Astro.props;
---

<section class="exp-br-cta sc-al-cnt sc-pd sc-grey sc-grey-C ps-rel">
    <div class="container">
        <div class="sc-wrapper ps-rel">
            <div class="sc-headline ps-rel">
                <h2 set:html={heading}></h2>
                <div class="sc-txt">
                    <p set:html={description}></p>
                </div>
            </div>
            <div class="btn-row btn-exp-row fx fx-jc"> 
                <a href={button1Link} class="btn-primary btn-primary-lg btn-dark fx fx-ac fx-jc">
                    <span>{button1text}</span>
                </a>
                <a href={button2Link} class="btn-primary btn-primary-lg btn-dark fx fx-ac fx-jc">
                    <span>{button2text}</span>
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    .btn-exp-row{
        gap: 1.5rem;
        margin-top: 3.125rem;
    }
</style>