---
import { Image } from 'astro:assets';
const { heading, description, addt_txt, items } = Astro.props;

---

<section class="exp-pillars-sc sc-al-cnt sc-grey sc-grey-C sc-pd">
    <div class="container">
        <div class="sc-wrapper">
            <div class="sc-headline ps-rel">
                <h2 class="txt-anim">{heading}</h2>
                <div class="sc-txt txt-anim">
                    <p>{description}</p>
                </div>
            </div>
        </div>
        <div class="exp-pillars fx fx-jb ps-rel">
            {items.map((item: { title: string; text: string; img: string; }, i) => (
                <div class="exp-pillar-item reveal-anim" data-index={i}>
                    <div class="exp-pillar-grp">
                        <Image src={item.img} alt={item.title} />
                    </div>
                    <div class="exp-pillar-info">
                        <h3>{item.title}</h3>
                        <div class="sc-txt">
                            <p>{item.text}</p>
                        </div>
                    </div>
                </div>
            ))}
        </div>
        <div class="exp-scd-txt-row">
            <div class="sc-wrapper">
                <div class="sc-txt txt-anim">
                    <p set:html={addt_txt}></p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .exp-pillars{
        margin-top: 3.75rem;
        gap: 1.5rem;
    }
    .exp-pillar-grp img{
        width: 100%;
        height: auto;
    }
    .exp-pillar-item{
        border-radius: 1.25rem;
        background: var(--white);
        box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.04);
        padding: 2.5rem;
        width: calc((100% - 2*1.5rem) / 3);
    }
    .exp-pillar-info{
        margin-top: 2rem;
    }
    .exp-pillar-item h3{
        color: var(--darkBlue);
        font-family: 'pp_neue_montrealmedium';
    }
    .exp-pillar-item h3, .exp-pillar-item .sc-txt p{
        text-align: left;
    }
    .exp-pillar-item .sc-txt{
        margin-top: 0.75rem;
    }
    @media screen and (max-width:1000px) {
        .exp-pillars {
            margin-top: 24px;
            gap: 12px;
        }
        .exp-pillar-item {
            border-radius: 12px;
            padding: 16px;
            width: calc((100% - 24px) / 3);
        }
        .exp-pillar-info {
            margin-top: 12px;
        }
        .exp-pillar-item .sc-txt {
            margin-top: 8px;
        }
        .exp-scd-txt-row {
            margin-top: 24px;
        }
        .exp-pillar-info .sc-txt p {
            font-size: 12px;
            letter-spacing: 0.22px;
            line-height: 16px;
        }


    }
    @media screen and (max-width: 700px) {
        .exp-pillars {
            overflow-x: scroll;
            justify-content: unset;
            margin-left: 40px;
            padding-right: 40px;
            padding-bottom: 5px;
        }
        .exp-pillar-item {
            flex-shrink: 0;
            width: 222px;
        }
        .exp-pillars-sc > .container {
            margin: 0;
        }
        .exp-pillars-sc .sc-wrapper {
            padding: 0 40px;
        }
        
    }
    @media screen and (max-width: 479px) {
        .exp-pillars {
            margin-left: 16px;
            padding-right: 16px;
        }
        .exp-pillars-sc .sc-wrapper {
            padding: 0 32px;
        }
        .exp-pillar-info h3 {
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.16px;
        }
        .exp-pillars {
            margin-top: 40px;
        }
        .exp-scd-txt-row {
            margin-top: 35px;
        }
    }
</style>