---
const { title, text, items, buttonShow, notDNA } = Astro.props;

---

<section class={`dna-fm sc-al-cnt sc-pd ps-rel ${notDNA === "yes" ? "not-dna" : ""}`}>
    <div class="container">
        <div class="sc-wrapper">
            <div class="sc-headline ps-rel">
                <h2 set:html={title}></h2>
                <div class="sc-txt">
                    <p set:html={text}></p>
                </div>
            </div>
            <div class="dna-fm-row fx fx-jc">
                {items.map((item: { num: string; title: string; subTitle: string; text: string; }) => (
                    <div class="dna-fm-col">
                        <div class="dna-num">
                            <span>{item.num}</span>
                        </div>
                        <h5>{item.title}</h5>
                        <h6>{item.subTitle}</h6>
                        <div class="sc-txt">
                            <p set:html={item.text}></p>
                        </div>
                    </div>
                ))}
            </div>
            {buttonShow && (
                <div class="btn-row fx fx-jc">
                    <a href="/solutions" class="btn-primary btn-primary-lg btn-primary-blue fx fx-ac fx-jc">
                        <span>Discover Our Solutions</span>
                    </a>
                </div>
            )}
        </div>
    </div>
</section>

<style>
    .dna-fm:not(.not-dna):after{
        content: "";
        position: absolute;
        bottom: -17rem;
        left: 0;
        width: 100%;
        height: 36rem;
        background: url(/sl-grd.webp) no-repeat;
        background-size: 100% 100%;
        z-index: 0;
    }
    .dna-fm .sc-wrapper{
        z-index: 1;
        position: relative;
    }
    .dna-fm-col{
        border-radius: 1.25rem;
        border: 0.125rem solid #333335;
        background: radial-gradient(172.78% 84.5% at 50% 100%, #252932 0%, #1E2025 100%);
        width: calc((100% - 3rem)/3);
        padding: 1.25rem;
    }
    .dna-fm-col h5{
        color: var(--white);
        font-size: 7.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 7.5rem;
        margin: 0;
        text-align: center;
    }
    .dna-fm-col h6{
        color: var(--white);
        font-size: 2rem;
        font-weight: 400;
        line-height: 2rem;
        margin: 0.5rem;
        text-align: center;
    }
    .dna-fm-row{
        padding: 3.75rem 0;
        gap: 1.5rem;
    }
    .dna-fm .sc-wrapper{
        width: 58rem;
    }
    .dna-num span{
        color: rgba(255, 255, 255, 0.60);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.03rem;
    }
    .dna-fm-col .sc-txt p{
        color: rgba(255, 255, 255, 0.60);
        padding: 0 1rem;
    }
    @media screen and (max-width: 1000px) {
        .dna-fm .sc-wrapper{
            width: 100%;
        }
        .dna-fm-row {
            padding: 40px 0;
            gap: 12px;
        }
        .dna-fm-col {
            border-radius: 12px;
            width: 200px;
            padding: 15px;
            border-width: 1px;
        }
        .dna-num span {
            font-size: 11px;
            line-height: 12px;
            letter-spacing: 0.33px;
        }
        .dna-fm-col h5 {
            font-size: 72px;
            line-height: 60px;
            height: 52px;
            margin: 0;
        }
        .dna-fm-col h6 {
            font-size: 19px;
            line-height: 19px;
            margin: 25px 0 10px 0;
        }
        .dna-fm-col .sc-txt p {
            padding: 0;
        }
        .dna-num {
            margin-bottom: 20px; 
        }
        .dna-fm-col .sc-txt {
            margin-bottom: 15px;
        }
        .dna-fm .container {
            position: relative;
            z-index: 2;
        }
        .dna-fm:not(.not-dna):after {
            z-index: 1;
        }
    }
    @media screen and (max-width: 700px) {
        .dna-fm-row {
            overflow-x: scroll;
            justify-content: unset;
            margin-left: 40px;
            padding-right: 40px;
            padding-bottom: 0;
            margin-bottom: 40px; 
        }
        .dna-fm-col {
            flex-shrink: 0;
        }
        .dna-fm > .container {
            margin: 0;
        }
        .dna-fm .sc-headline {
            margin: 0 40px;
        }
    }
    @media screen and (max-width: 479px) {
        .dna-fm-row {
            margin-left: 16px;
            padding-right: 16px;
        }
        .sc-headline {
            padding: 0 16px;
        }
        .dna-fm .sc-headline {
            margin: 0 16px;
        }
        .dna-fm-col {
            width: 250px;
            padding: 20px 20px 30px 20px;
        }
        .dna-num span {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.48px;
        }
        .dna-fm-col h5 {
            font-size: 120px;
            line-height: 102px;
            height: 87px;
            margin: 10px 0 0 0;
        }
        .dna-fm-col h6 {
            font-size: 32px;
            line-height: 32px;
            margin: 30px 0 0 0;
        }
        .dna-fm-col .sc-txt {
            margin-top: 10px;
        }
        .dna-num {
            margin-bottom: 0; 
        }
        .dna-fm-col .sc-txt {
            margin-bottom: 0;
        }


    }
</style>