---
import { Image } from 'astro:assets';
const { img, title, text, secText, buttonText, secClass } = Astro.props;

---

<section class={`sc-hero sc-al-cnt ${secClass}`}>
    <div class="container">
        <div class="sc-hr-wrap">
            <div class="hero-graphic">
                <Image src={img} alt={title} />
            </div>
            <div class="hero-intro-text">
                <h1 set:html={title}></h1>
                <div class="sc-txt">
                    <p set:html={text}></p>
                </div>
                {secText && (
                    <div class="sc-subtext">
                        <p set:html={secText}></p>
                    </div>
                )}
                {buttonText && (
                    <div class="hero-btn-row fx fx-jc">
                         <a class="btn-primary btn-primary-lg fx fx-ac fx-jc" href="/contact">
                            <span>{buttonText}</span>
                        </a>
                    </div>
                )}
            </div>
        </div>
    </div>
</section>

<style is:global>
    .hero-btn-row{
        margin-top: 2.25rem;
    }
    .sc-hr-wrap{
        width: 45rem;
        margin: auto;
    }
    .hero-graphic{
        margin: 2rem auto 3.75rem auto;
    }
    .sc-hero{
        padding-bottom: 9.375rem;
    }
    .sc-subtext{
        margin-top: 1.5rem;
    }
    html.light .sc-subtext p{
        color: rgba(163, 165, 172, 0.50);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: 0.02rem;
        margin: 0;
    }
    @media screen and (max-width:1000px){
        .hero-graphic {
            margin: 0 auto 40px auto;
        }
        .ct-hero-banner .hero-graphic img {
            width: 120px;
        }
        .hero-intro-text .sc-txt, .hero-intro-text .sc-subtext {
            margin-top: 20px;
        }
        .hero-intro-text .sc-txt p {
            font-size: 16px;
            letter-spacing: 0.32px;
            line-height: 20px;
        }
        .ct-sc-subtext {
            margin-top: 40px;
        }
        html.light .hero-intro-text .sc-subtext p, body .ct-sc-subtext p {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.28px;
        }
        .sc-hero {
            padding-bottom: 60px;
        }
        .sl-hero-banner {
            padding-top: 40px;
        }
        .sl-hero-banner .hero-graphic {
            margin-bottom: 53px;
        }
        .hero-btn-row {
            margin-top: 40px;
        }
    }
    @media screen and (max-width:700px){
        .sc-hr-wrap, .ct-wrap {
            width: 100%;
        }
        .hero-intro-text .sc-txt br {
            display: none;
        }
    }
    @media screen and (max-width:479px){
        .hero-intro-text {
            padding: 0 16px;
        }
        .hero-intro-text h1 br {
            display: none;
        }
        .sl-hero-banner .hero-graphic {
            padding: 0 30px;
        }
        .sl-hero-banner {
            padding-top: 20px;
        }
        .hero-intro-text .sc-txt, .hero-intro-text .sc-subtext {
            margin-top: 24px;
        }
    }
</style>