---
import { Image } from 'astro:assets';
import testPostPic1 from '../../src/assets/blog-pattern-1.png';
import testPostPic2 from '../../src/assets/blog-pattern-2.png';
import testPostPic3 from '../../src/assets/blog-pattern-3.png';
import testPostPic4 from '../../src/assets/blog-pattern-4.png';
import testPostPic5 from '../../src/assets/blog-pattern-5.png';
import testPostPic6 from '../../src/assets/blog-pattern-9.png';
import testPostPic7 from '../../src/assets/blog-pattern-7.png';
import testPostPic8 from '../../src/assets/blog-pattern-8.png';
import { getLatestPosts } from '../lib/wordpress';

const posts = await getLatestPosts(8);

function formatPostDate(dateString) {
    const date = new Date(dateString);
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year} - ${month} - ${day}`;
}

const postsDummy = [
    { 
        image: testPostPic1, 
        title: 'Branding for Start Up Malta: How Early Stage Brands Build Trust, Clarity, and Investor Confidence',
        shortTitle: 'Startup Branding That Builds Trust',
        date: '2025.10.03' 
    },
    { 
        image: testPostPic2, 
        title: 'Branding for B2B Malta: How to Build Authority, Trust, and Long Term Relationships',
        shortTitle: 'B2B Branding That Builds Trust',
        date: '2025.9.05' 
    },
    { 
        image: testPostPic3, 
        title: 'Building Scalable iGaming Platforms Through UX Design',
        shortTitle: 'Scaling iGaming Platforms Through UX',
        date: '2025.9.05' 
    },
    { 
        image: testPostPic4, 
        title: 'Why Bespoke iGaming Websites in Malta Outperform Templates',
        shortTitle: 'Why Custom iGaming Sites Win',
        date: '2025.11.02' 
    },
    { 
        image: testPostPic5, 
        title: 'The Evolution of iGaming Marketing in Malta: From Acquisition to Retention',
        shortTitle: 'How iGaming Marketing Evolved',
        date: '2025.10.03' 
    },
    { 
        image: testPostPic6, 
        title: 'Mastering iGaming UX/UI Design in Malta',
        shortTitle: 'Mastering iGaming UX in Malta',
        date: '2025.9.05' 
    },
    { 
        image: testPostPic7, 
        title: 'Branding for Start Up Malta: How Early Stage Brands Build Trust, Clarity, and Investor Confidence',
        shortTitle: 'Startup Branding That Builds Trust',
        date: '2025.10.03'  
    },
    { 
        image: testPostPic8, 
        title: 'Branding for B2B Malta: How to Build Authority, Trust, and Long Term Relationships',
        shortTitle: 'B2B Branding That Builds Trust',
        date: '2025.9.05' 
    },
];

---

<section class="sc-pd sc-grey sc-grey-C sc-al-cnt ps-rel">
    <div class="container">
        <div class="sc-wrapper">
            <div class="headline ps-rel">
                <h2>IPOINT INT Insights</h2>
                <div class="sc-txt">
                    <p>From iGaming to fintech and beyond, our clients rely on us for digital solutions that deliver peace of mind and measurable results.</p>
                </div>
            </div>
        </div>
        <div class="posts-grid-wrap" id="masonry-grid">
            {posts.map((post) => {
                const image = post._embedded?.['wp:featuredmedia']?.[0]?.source_url;

                return (
                    <div class="post-card">
                        <a href={`/blog/${post.slug}/`}>
                            {image && (
                                <div class="post-image">
                                    <Image src={image} alt={post.title} inferSize={true} />
                                </div>
                            )}
                            <div class="post-info">
                                <h6>{post.title.rendered}</h6>
                                <p>{formatPostDate(post.date)}</p>
                            </div>
                        </a>
                    </div>
                );
            })}
        </div>
        <div class="btn-row fx fx-jc">
            <a class="btn-primary btn-dark fx fx-ac fx-jc"><span>Get More Insights</span></a>
        </div>
    </div>
</section>

<section class="sc-pd sc-grey sc-grey-C sc-al-cnt ps-rel">
    <div class="container">
        <div class="sc-wrapper">
            <div class="headline ps-rel">
                <h2>IPOINT INT Insights</h2>
                <div class="sc-txt">
                    <p>From iGaming to fintech and beyond, our clients rely on us for digital solutions that deliver peace of mind and measurable results.</p>
                </div>
            </div>
        </div>
        <div class="posts-grid-wrap" id="masonry-grid-2">
            {postsDummy.map(post => (
                <div class="post-card">
                    <a href="#">
                        <div class="post-image ps-rel">
                            <Image src={post.image} alt={post.title} />
                            <div class="post-short-title fx fx-jc fx-ac">
                                <h5>{post.shortTitle}</h5>
                            </div>
                        </div>
                        <div class="post-info">
                            <h6>{post.title}</h6>
                            <p>{post.date}</p>
                        </div>
                    </a>
                </div>
            ))}
        </div>
        <div class="btn-row fx fx-jc">
            <a class="btn-primary btn-dark fx fx-ac fx-jc"><span>Get More Insights</span></a>
        </div>
    </div>
</section>

<style>
    .post-short-title{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .post-short-title h5{
        font-size: 4.25rem;
        line-height: 4.5rem;
        padding: 0 2rem;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(0, 0, 0, 0.3);
    }
    .posts-grid-wrap{
        margin: 3.75rem 0;
        font-size: 0;
        opacity: 0;
        transition: opacity .25s ease;
    }
    .posts-grid-wrap.masonry-loaded {
        opacity: 1;
    }
    .post-card{
        display: inline-block;
        vertical-align: top;
        width: calc(25% - 1.5rem);
        margin-bottom: 1.5rem;
        border-radius: 20px;
        break-inside: avoid;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity .4s ease, transform .4s ease;
    }
    .post-image{
        overflow: hidden;
        border-radius: 1.25rem 1.25rem 0 0;
        max-height: 30rem;
    }
    .post-card:hover .post-image img{
        transform: scale(1.05);
    }
    .post-card.animate-in {
        opacity: 1;
        transform: translateY(0);
    }
    .post-card a{
        color: var(--darkGey);
    }
    .post-card img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 1.25rem 1.25rem 0 0;
        -webkit-transition: transform 0.5s ease;
        -moz-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
    }
    .post-info{
        padding: 1.25rem;
        background: var(--white);
        border-radius: 0 0 1.25rem 1.25rem;
    }
    .post-info h6{
        color: var(--darkGey);
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02rem;
        margin: 0;
    }
    .post-info p{
        color: rgba(44, 44, 44, 0.40);
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1rem;
        margin: 2.5rem 0 0 0;
        letter-spacing: 0.02rem;
    }
    @media screen and (max-width:479px){
        .post-card{
            position: relative !important;
            width: 100%;
            left: 0 !important;
            top: 0 !important;
        }
    }
</style>

<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js" defer></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" defer></script>
<script type="module" client:visible>
    import initMasonry from '/js/MasonryGrid.js';
    initMasonry('#masonry-grid');
    initMasonry('#masonry-grid-2');
</script>