---
import { Image } from 'astro:assets';
import laferlaThumb from '../assets/results/laferla/laferla-thumb.jpg';
import paperlessThumb from '../assets/results/pl/paperless-thumb.jpg';
import boomerangThumb from '../assets/results/boomerang/hero-banner.jpg';
import qbetThumb from '../assets/results/qbet/hero-banner.jpg';
---

<section class="hp-solutions">
    <div class="container">
        <h1 class="txt-anim">Results.</h1>
        <h2 class="txt-anim">This is how our Solutions are helping our clients reach their business goals.</h2>
        <div class="sl-filter-row fx fx-wrap fx-ac">
            <a href="#" class="active">All Solutions</a>
            <a href="#">Startup Solution</a>
            <a href="#">Growth Solution</a>
            <a href="#">Expansion Solution</a>
            <a href="#">Franchise Solution</a>
        </div>
        <div class="projects-list fx fx-wrap">
            <div class="pj-featured-item">
                <a href="/portfolio/laferla-website-redesign/">
                    <div class="pj-ft-image">
                        <Image src={laferlaThumb} alt="laferla-thumb" />
                    </div>
                    <div class="pj-ft-info-row fwidth">
                        <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                            <div class="pj-ft-info-lcol">
                                <div class="pj-ft-info-lcol-wrap">
                                    <h3>Laferla</h3>
                                </div>
                            </div>
                            <div class="pj-ft-info-rcol">
                                <p>Web Design, Branding, Consulting</p>
                            </div>
                        </div>
                        <div class="pj-ft-info-txt">
                            <h4>Creating an Insurance instrument with all functions in your pocket</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pj-featured-item">
                <a href="/portfolio/paperless-website-redesign/">
                    <div class="pj-ft-image">
                        <Image src={paperlessThumb} alt="paperless-thumb" />
                    </div>
                    <div class="pj-ft-info-row fwidth">
                        <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                            <div class="pj-ft-info-lcol">
                                <div class="pj-ft-info-lcol-wrap">
                                    <h3>Paperless</h3>
                                </div>
                            </div>
                            <div class="pj-ft-info-rcol">
                                <p>Web Design, Branding, Consulting</p>
                            </div>
                        </div>
                        <div class="pj-ft-info-txt">
                            <h4>Website redesign for a leading document workflow provider since 1997</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pj-featured-item">
                <a href="/portfolio/boomerang/">
                    <div class="pj-ft-image">
                        <Image src={boomerangThumb} alt="boomerang-thumb" />
                    </div>
                    <div class="pj-ft-info-row fwidth">
                        <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                            <div class="pj-ft-info-lcol">
                                <div class="pj-ft-info-lcol-wrap">
                                    <h3>Boomerang</h3>
                                </div>
                            </div>
                            <div class="pj-ft-info-rcol">
                                <p>Branding</p>
                            </div>
                        </div>
                        <div class="pj-ft-info-txt">
                            <h4>Brand book for the business</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pj-featured-item">
                <a href="/portfolio/qbet/">
                    <div class="pj-ft-image">
                        <Image src={qbetThumb} alt="qbet-thumb" />
                    </div>
                    <div class="pj-ft-info-row fwidth">
                        <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                            <div class="pj-ft-info-lcol">
                                <div class="pj-ft-info-lcol-wrap">
                                    <h3>QBet</h3>
                                </div>
                            </div>
                            <div class="pj-ft-info-rcol">
                                <p>Branding</p>
                            </div>
                        </div>
                        <div class="pj-ft-info-txt">
                            <h4>QBet text goes here</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pj-featured-item">
                <a href="#">
                    <div class="pj-ft-image">
                        <img src="/laferla-project-cover.webp" alt="Laferla"/>
                    </div>
                    <div class="pj-ft-info-row fwidth">
                        <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                            <div class="pj-ft-info-lcol">
                                <div class="pj-ft-info-lcol-wrap">
                                    <h3>Laferla Website</h3>
                                </div>
                            </div>
                            <div class="pj-ft-info-rcol">
                                <p>UX/UI Design, Wireframing, Prototyping</p>
                            </div>
                        </div>
                        <div class="pj-ft-info-txt">
                            <h4>Creating an Insurance instrument with all functions in your pocket</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pj-featured-item">
                <a href="#">
                    <div class="pj-ft-image">
                        <img src="/spinbet-project-cover.webp" alt="Spinbet"/>
                    </div>
                    <div class="pj-ft-info-row fwidth">
                        <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                            <div class="pj-ft-info-lcol">
                                <div class="pj-ft-info-lcol-wrap">
                                    <h3>Spinbet</h3>
                                </div>
                            </div>
                            <div class="pj-ft-info-rcol">
                                <p>Brand Identity, Web Design, 3D </p>
                            </div>
                        </div>
                        <div class="pj-ft-info-txt">
                            <h4>Casino and Sportsbook platforms for an iGaming startup from Germany</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="ct-animation-bar ps-rel">
        <a href="/contact">
            <div class="ct-rolling-bar fx ps-rel">
                <div class="ct-rolling fx fx-ac">
                    <div class="ct-txt-ln">
                        Let's Make It Happen
                    </div>
                    <div class="ct-arr">
                        <svg width="64" height="104" viewBox="0 0 64 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2044_2941)">
                            <path d="M57 23V78H2" stroke="#676B78" stroke-width="5"/>
                            <path d="M6 27L55 76" stroke="#676B78" stroke-width="5"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2044_2941">
                            <rect width="104" height="64" fill="white" transform="translate(64 2.79753e-06) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="ct-txt">
                        Get a Quote <br/>for your Project
                    </div>
                    <div class="ct-arr">
                        <svg width="64" height="104" viewBox="0 0 64 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2044_2941)">
                            <path d="M57 23V78H2" stroke="#676B78" stroke-width="5"/>
                            <path d="M6 27L55 76" stroke="#676B78" stroke-width="5"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2044_2941">
                            <rect width="104" height="64" fill="white" transform="translate(64 2.79753e-06) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                </div>
                <div class="ct-rolling fx fx-ac" aria-hidden>
                    <div class="ct-txt-ln">
                        Let's Make It Happen
                    </div>
                    <div class="ct-arr">
                        <svg width="64" height="104" viewBox="0 0 64 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2044_2941)">
                            <path d="M57 23V78H2" stroke="#676B78" stroke-width="5"/>
                            <path d="M6 27L55 76" stroke="#676B78" stroke-width="5"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2044_2941">
                            <rect width="104" height="64" fill="white" transform="translate(64 2.79753e-06) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="ct-txt">
                        Get a Quote <br/> for your Project
                    </div>
                    <div class="ct-arr">
                        <svg width="64" height="104" viewBox="0 0 64 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2044_2941)">
                            <path d="M57 23V78H2" stroke="#676B78" stroke-width="5"/>
                            <path d="M6 27L55 76" stroke="#676B78" stroke-width="5"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2044_2941">
                            <rect width="104" height="64" fill="white" transform="translate(64 2.79753e-06) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                </div>
                <div class="ct-rolling fx fx-ac" aria-hidden>
                    <div class="ct-txt-ln">
                        Let's Make It Happen
                    </div>
                    <div class="ct-arr">
                        <svg width="64" height="104" viewBox="0 0 64 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2044_2941)">
                            <path d="M57 23V78H2" stroke="#676B78" stroke-width="5"/>
                            <path d="M6 27L55 76" stroke="#676B78" stroke-width="5"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2044_2941">
                            <rect width="104" height="64" fill="white" transform="translate(64 2.79753e-06) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="ct-txt">
                        Get a Quote <br/> for your Project
                    </div>
                    <div class="ct-arr">
                        <svg width="64" height="104" viewBox="0 0 64 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2044_2941)">
                            <path d="M57 23V78H2" stroke="#676B78" stroke-width="5"/>
                            <path d="M6 27L55 76" stroke="#676B78" stroke-width="5"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2044_2941">
                            <rect width="104" height="64" fill="white" transform="translate(64 2.79753e-06) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="projects-sc-bunch">
        <div class="container">
            <div class="projects-list fx fx-wrap">
                <div class="pj-featured-item">
                    <a href="#">
                        <div class="pj-ft-image">
                            <img src="/laferla-app-cover.webp" alt="Laferla"/>
                        </div>
                        <div class="pj-ft-info-row fwidth">
                            <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                                <div class="pj-ft-info-lcol">
                                    <div class="pj-ft-info-lcol-wrap">
                                        <h3>Laferla App</h3>
                                    </div>
                                </div>
                                <div class="pj-ft-info-rcol">
                                    <p>UX/UI Design, Wireframing, Prototyping</p>
                                </div>
                            </div>
                            <div class="pj-ft-info-txt">
                                <h4>Creating an Insurance instrument with all functions in your pocket</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="pj-featured-item">
                    <a href="#">
                        <div class="pj-ft-image">
                            <img src="/laferla-project-cover.webp" alt="Laferla"/>
                        </div>
                        <div class="pj-ft-info-row fwidth">
                            <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                                <div class="pj-ft-info-lcol">
                                    <div class="pj-ft-info-lcol-wrap">
                                        <h3>Laferla Website</h3>
                                    </div>
                                </div>
                                <div class="pj-ft-info-rcol">
                                    <p>UX/UI Design, Wireframing, Prototyping</p>
                                </div>
                            </div>
                            <div class="pj-ft-info-txt">
                                <h4>Creating an Insurance instrument with all functions in your pocket</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="pj-featured-item">
                    <a href="#">
                        <div class="pj-ft-image">
                            <img src="/spinbet-project-cover.webp" alt="Spinbet"/>
                        </div>
                        <div class="pj-ft-info-row fwidth">
                            <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                                <div class="pj-ft-info-lcol">
                                    <div class="pj-ft-info-lcol-wrap">
                                        <h3>Spinbet</h3>
                                    </div>
                                </div>
                                <div class="pj-ft-info-rcol">
                                    <p>Brand Identity, Web Design, 3D </p>
                                </div>
                            </div>
                            <div class="pj-ft-info-txt">
                                <h4>Casino and Sportsbook platforms for an iGaming startup from Germany</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="sl-gradient"></div>
</section>

<style is:global>
    .hp-solutions h1{
        color: var(--lightGrey);
    }
    .sl-filter-row{
        margin: 2.5rem 0 0 0;
        gap: 0.5rem;
        display: none;
    }
    .sl-filter-row a{
        padding: 0.75rem 1.25rem;
        border-radius: 1.375rem;
        border: 1px solid var(--white);
        color: var(--white);
        font-size: 1rem;
        font-weight: 500;
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
    }
    .sl-filter-row a.active, .sl-filter-row a:hover{
        background: var(--white);
        color: var(--darkBlue);
    }
    .projects-list{
        gap: 1.5rem;
        margin-top: 2.5rem;
    }
    .pj-featured-item{
        width: calc((100% - 1.5rem) / 2);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .pj-featured-item:nth-child(3n + 1){
        width: 100%;
        margin: 0;
    }
    .pj-featured-item:nth-child(3n + 1) .pj-ft-info-txt{
        width: 100%;
    }
    .ct-animation-bar{
        padding: 12.5rem 0;
        overflow: hidden;
    }
    @-webkit-keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    @-moz-keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    @-ms-keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    @-o-keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .ct-rolling{
        gap: 2.5rem;
        -moz-animation: scroll 30s linear infinite;
        -webkit-animation: scroll 30s linear infinite;
        -o-animation: scroll 30s linear infinite;
        animation: scroll 30s linear infinite;
        white-space: nowrap;
        flex-shrink: 0;
        padding-right: 2.5rem;
    }
    .ct-txt-ln{
        color: var(--lightGrey);
        font-size: 7.25rem;
        font-weight: 500;
        line-height: 8.75rem;
    }
    .ct-txt{
        color: var(--lightGrey);
        font-size: 2.25rem;
        font-weight: 500;
        line-height: 100%;
    }
    .ct-arr svg path {
        stroke: var(--lightGrey);
        transition: stroke 0.4s ease;
    }
    .sl-gradient{
        width: 100%;
        height: 36rem;
        background: url(/sl-grd.webp) no-repeat;
        background-size: 100% 100%;
        z-index: 0;
    }
    .ct-txt-ln span, .ct-txt span {
        display: inline-block;
        transition: color 0.1s linear;
    }
    .ct-animation-bar:after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(to right, rgba(23,25,35,0.6) 0%, rgba(23,25,35,0) 45%, rgba(23,25,35,0) 55%, rgba(23,25,35,0.6) 100%);
    }
    @media screen and (max-width: 1200px) {
        .sl-gradient {
            height: 19rem;
        }
    }
    @media screen and (max-width: 1000px) {
        .ct-animation-bar {
            padding: 40px 0;
        }
        .ct-arr svg {
            height: 52px;
            width: auto;
        }
        .ct-txt-ln{
            font-size: 60px;
            line-height: 48px;
        }
        .ct-txt{
            font-size: 20px;
        }
        .ct-rolling {
            gap: 30px;
            padding-right: 30px;
        }
       
    }
    @media screen and (max-width: 479px) {
        .pj-featured-item {
            width: 100%;
        }
        .sl-gradient {
            height: 100px;
            margin-top: 44px;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        document.querySelectorAll('.ct-txt-ln, .ct-txt').forEach(el => {
            const nodes = Array.from(el.childNodes); 
            el.innerHTML = nodes.map(node => {
                if (node.nodeName === "BR") return "<br/>";
                return node.textContent.split('').map(l => `<span>${l===' ' ? '&nbsp;' : l}</span>`).join('');
            }).join('');
        });

        const rollingBlocks = document.querySelectorAll('.ct-rolling');
        let speed = 0.2;
        const animationBar = document.querySelector('.ct-animation-bar');

        // Slow down on hover
        //animationBar.addEventListener('mouseenter', () => speed = 0.05);
        //animationBar.addEventListener('mouseleave', () => speed = 0.2);

        function animateWave() {
            const centerX = window.innerWidth / 2;

            rollingBlocks.forEach(block => {
            const textLines = block.querySelectorAll('.ct-txt-ln, .ct-txt');
            const arrows = block.querySelectorAll('.ct-arr');

            textLines.forEach((txtEl, idx) => {
                const letters = txtEl.querySelectorAll('span');

                letters.forEach(letter => {
                    const rect = letter.getBoundingClientRect();
                    const letterCenter = rect.left + rect.width / 2;
                    const distance = Math.abs(centerX - letterCenter);
                    const intensity = Math.max(0, 1 - distance / 250);
                    const colorValue = Math.floor(103 + 152 * intensity);
                    letter.style.color = `rgb(${colorValue},${colorValue},${colorValue})`;
                });

                // Arrow color sync
                if (arrows[idx]) {
                    const arrowPaths = arrows[idx].querySelectorAll('path'); 
                    const arrowRect = arrows[idx].getBoundingClientRect();
                    const arrowCenter = arrowRect.left + arrowRect.width / 2;

                    let nearestLetter = null;
                    let minDistance = Infinity;
                    letters.forEach(letter => {
                        const lRect = letter.getBoundingClientRect();
                        const lCenter = lRect.left + lRect.width / 2;
                        const d = Math.abs(lCenter - arrowCenter);
                        if(d < minDistance) { minDistance = d; nearestLetter = letter; }
                    });

                    if(nearestLetter){
                        arrowPaths.forEach(path => {
                        const currentColor = path.style.stroke
                            ? path.style.stroke.match(/\d+/g).map(Number)
                            : [103,103,103];
                        const targetColor = nearestLetter.style.color.match(/\d+/g).map(Number);
                        const lerped = currentColor.map((c,i) => Math.round(c + (targetColor[i]-c)*speed));
                        path.style.stroke = `rgb(${lerped.join(',')})`;
                        });
                    }
                }
            });

        });

            requestAnimationFrame(animateWave);
        }

        requestAnimationFrame(animateWave);
    });
</script>