---
import { Image } from 'astro:assets';
const { title, text, items } = Astro.props;

---

<section class="sl-list sc-al-cnt sc-grey sc-grey-C sc-pd ps-rel">
    <div class="container">
        <div class="sc-wrapper">
            <div class="sc-headline sc-headline-adv ps-rel">
                <h2 set:html={title}></h2>
                <div class="sc-txt">
                    <p set:html={text}></p>
                </div>
            </div>
        </div>
    </div>
    <div class="sl-items-scroll">
        <div class="sl-full-items ps-rel fx fx-jb fx-jc">
            {items.map((item: { title: string; subtitle: string; slIcon: string; solutions: any[]; buttonLink: string; buttonText: string }) => (
                <div class="sl-f-col fx fx-ae fx-wrap">
                    <div class="sl-info-top fwidth">
                        <div class="sl-f-icon">
                            <Image src={item.slIcon} alt={item.title} />
                        </div>
                        <h3>{item.title}</h3>
                        <h4>{item.subtitle}</h4>
                        <div class="sl-packages">
                            {item.solutions.map((solution: { title: string; }) => (
                                <div class="sl-pack fx fx-as">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M3 13L9.5 18.5L21.5 4" stroke="#27FF43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span set:html={solution.title}></span>
                                </div>
                            ))}
                        </div>
                    </div>
                    <div class="btn-row fx fx-jc fwidth">
                        <a href={item.buttonLink} class="btn-primary btn-primary-lg btn-primary-blue fx fx-ac fx-jc">
                            <span>{item.buttonText}</span>
                        </a>
                    </div>
                </div>
            ))}
        </div>
    </div>
</section>

<style>
    .sl-list:before{
        content: "";
        position: absolute;
        top: -21rem;
        left: 0;
        width: 100%;
        height: 36rem;
        background: url(/sl-grd.webp) no-repeat;
        background-size: 100% 100%;
        z-index: 0;
    }
    .sl-full-items{
        margin-top: 3.75rem;
        gap: 1.5rem;
        flex-wrap: nowrap;
        min-width: max-content;
        padding: 0 6rem;
    }
    .sl-items-scroll{
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        cursor: grab;
    }
    .sl-items-scroll::-webkit-scrollbar {
        display: none;
    }
    .sl-f-col{
        width: 32.5rem;
        padding: 3rem 2.5rem;
        border-radius: 1.25rem;
        background: #252831;
    }
    .sl-list .sc-txt p{
        font-family: 'pp_neue_montrealregular';
    }
    .sl-f-icon{
        text-align: center;
    }
    .sl-f-icon img{
        width: 22rem;
        height: auto;
        margin: auto;
    }
    .sl-info-top h3{
        color: var(--white);
        text-align: center;
        font-size: 2.5em;
        font-weight: 500;
        line-height: 2.5rem;
        letter-spacing: 0.025rem;
        margin: 2.5rem 0 0 0;
        font-family: 'pp_neue_montrealmedium';
    }
    .sl-info-top h4{
        color: #9EA3B2;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: 0.02rem;
        margin: 1.25rem 0;
    }
    .sl-pack:not(:last-child){
        margin-bottom: 1.25rem;
    }
    .sl-pack svg{
        width: 1.5rem;
        height: auto;
    }
    .sl-pack span{
        color: var(--white);
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.025rem;
        padding-left: 0.75rem;
    }
    .sl-info-top{
        align-self: flex-start;
    }
    .btn-row{
        margin-top: 2.5rem;
    }
    @media screen and (min-width:1601px){
        .sl-full-items{
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }
    @media screen and (max-width:1000px) {
        .sl-full-items{
            margin-top: 40px;
            gap: 12px;
            padding: 0 40px;
        }
        .sl-f-col {
            width: 380px;
            padding: 31px 26px;
            border-radius: 12px;
        }
        .sl-f-icon img {
            width: 20rem;
            margin-top: 20px;
        }
        .sl-info-top h3 {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0;
            margin-top: 40px;
        }
        .sl-info-top h4 {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.24px;
            margin: 13px 0 16px 0;
        }
        .sl-pack:not(:last-child) {
            margin-bottom: 13px;
        }
        .sl-pack svg {
            width: 16px;
        }
        .sl-pack span {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.28px;
            padding-left: 7px;
        }
        .btn-row {
            margin-top: 31px;
        }

    }
    @media screen and (max-width:479px) {
        .sl-full-items{
            padding: 0 16px;
        }
        .sl-f-col {
            width: 330px;
        }
        .sc-headline {
            padding: 0 16px;
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const slider = document.querySelector('.sl-items-scroll');

        const updateCursor = () => {
            if (slider.scrollWidth > slider.clientWidth) {
                slider.style.cursor = 'grab';
            } else {
                slider.style.cursor = 'default';
            }
        };

        updateCursor();
        window.addEventListener('resize', updateCursor);

        let isDown = false;
        let startX;
        let scrollLeft;

        slider.addEventListener('mousedown', (e) => {
            isDown = true;
            slider.classList.add('active');
            startX = e.pageX - slider.offsetLeft;
            scrollLeft = slider.scrollLeft;
        });
        slider.addEventListener('mouseleave', () => {
            isDown = false;
            slider.classList.remove('active');
        });
        slider.addEventListener('mouseup', () => {
            isDown = false;
            slider.classList.remove('active');
        });
        slider.addEventListener('mousemove', (e) => {
            if (!isDown) return;
            e.preventDefault();
            const x = e.pageX - slider.offsetLeft;
            const walk = (x - startX);
            slider.scrollLeft = scrollLeft - walk;
        });

        slider.addEventListener('wheel', (e) => {
            const canScrollHorizontally =
            slider.scrollWidth > slider.clientWidth &&
            (e.deltaY > 0 && slider.scrollLeft < slider.scrollWidth - slider.clientWidth ||
            e.deltaY < 0 && slider.scrollLeft > 0);

            if (canScrollHorizontally) {
            e.preventDefault();
            slider.scrollLeft += e.deltaY;
            }
        }, { passive: false });
    });
</script>