---
const { title, items } = Astro.props;
import { Image } from 'astro:assets';

---

<section class="sl-inc sc-al-cnt sc-pd ps-rel">
    <div class="container">
        <div class="sc-wrapper">
            <div class="sc-headline ps-rel">
                <h2 class="txt-anim" set:html={title}></h2>
            </div>
        </div>
        <div class="sl-inc-items fx fx-jb">
            {items.map((item: { title: string; graphic: string; points: any[] }, i) => (
                <div class="sl-inc-col reveal-anim fx fx-wrap" data-index={i}>
                    <div class="sl-inc-col-wrap">
                        <div class="sl-inc-graphic fwidth">
                            <Image src={item.graphic} alt={item.title} />
                        </div>
                        <h2>{item.title}</h2>
                        <div class="sl-inc-points fx fx-wrap">
                            {item.points.map((point: { title: string; }) => (
                                <div class="sl-inc-point fx fx-as fwidth">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M12.3623 4.36462L19.998 12.0004L12.3623 19.6361" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M2 12.0004H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span set:html={point.title}></span>
                                </div>
                            ))}
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </div>
</section>

<style>
    .sl-inc-items {
        margin-top: 3.75rem;
    }
    .sl-inc-col{
        border-radius: 1.25rem;
        background: #252831;
        padding: 3.75rem 2.5rem;
        width: calc((100% - 2*1.5rem)/3);
    }
    .sl-inc-graphic{
        text-align: center;
    }
    .sl-inc-graphic img{
        width: 5rem;
        height: auto;
        margin: auto;
    }
    .sl-inc-col h2{
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin: 2.5rem 0;
        text-align: center;
        width: 100%;
    }
    .sl-inc-points{
        gap: 0.75rem;
    }
    .sl-inc-point{
        border-radius: 0.5rem;
        background: #363942;
        padding: 1.25rem 0.75rem;
    }
    .sl-inc-point span{
        color: var(--white);
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.013rem;
        padding-left: 0.5rem;
    }
    .sl-inc-point svg{
        width: 1.5rem;
        height: 1.5rem;
    }
    @media screen and (max-width:1000px) {
        .sl-inc-items {
            margin-top: 40px;
            gap: 12px
        }
        .sl-inc-col {
            border-radius: 12px;
            padding: 30px 25px;
            width: calc((100% - 2 * 12px) / 3);
        }
        .sl-inc-graphic img {
            width: 70px;
        }
        .sl-inc-col h2 {
            font-size: 24px;
            line-height: 28px;
            margin: 24px 0;
        }
        .sl-inc-points {
            gap: 10px;
        }
        .sl-inc-point {
            border-radius: 4px;
            padding: 12px;
        }
        .sl-inc-point span {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.24px;
            padding-left: 6px;
        }
        .sl-inc-point svg {
            width: 15px;
            height: auto;
            flex-shrink: 0;
        }
    }
    @media screen and (max-width:800px) {
        .sl-inc-col {
            border-radius: 12px;
            width: calc((100% - 2 * 6px) / 2);
        }
        .sl-inc-items {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }
    @media screen and (max-width:600px) {
        .sl-inc-col {
            width: 100%;
        }
    }
    @media screen and (max-width:479px) {
        .sl-inc-col {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
</style>