---
const { title, text, items } = Astro.props;

---

<section class="sc-team sc-pd sc-grey-C ps-rel sc-al-cnt">
    <div class="container">
        <div class="sc-wrapper">
            <div class="sc-headline ps-rel">
                <h2 set:html={title}></h2>
                <div class="sc-txt">
                    <p set:html={text}></p>
                </div>
            </div>
        </div>
    </div>
    <div class="team-mb-scroll sc-grey">
        <div class={`team-mb-row fx`}>
            {items.map((item: { videoLink: string; name: string; designation: string; text: string; }) => (
                <div class="team-member">
                    <div class="mmb-vd">
                         <video poster={item.posterLink} muted playsinline preload="metadata">
                            <source src={item.videoLink} type="video/mp4">
                        </video>
                    </div>
                    <div class="mmb-info ps-rel">
                        <h6>{item.name}</h6>
                        <h5>{item.designation}</h5>
                        <h4>{item.text}</h4>
                    </div>
                </div>
            ))}
        </div>
    </div>
</section>

<style>
    .sc-team{
        z-index: 1;
        padding-bottom: 0;
    }
    .team-mb-scroll {
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        padding-bottom: 6.25rem;
    }
    .team-mb-scroll::-webkit-scrollbar {
        display: none;
    }
    .team-mb-row{
        margin: 2.5rem 0 0 0;
        gap: 1.5rem;
        padding: 0 0 0 5rem;
        flex-wrap: nowrap;
        min-width: max-content;
    }
    .team-member{
        border-radius: 2.5rem;
        width: 24rem;
        cursor: pointer;
    }
    video{
        width: 100%;
        height: 29rem;
        object-fit: cover;
        border-radius: 2.5rem 2.5rem 0 0;
        cursor: pointer;
    }
    .mmb-info{
        border-radius: 2.5rem;
        background: #23252A;
        padding: 1.5rem 2.5rem;
        margin-top: -3rem;
    }
    .mmb-info h6, .mmb-info h5{
        color: var(--white);
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: 0.018rem;
        margin: 0;
    }
    .mmb-info h5{
        color: #878B99;
    }
    .mmb-info h4{
        color: #878B99;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.013rem;
        margin: 0.75rem 0 0 0;
    }
    @media screen and (min-width:1601px){
        .team-mb-row{
            padding-right: 5rem;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }
    @media screen and (max-width:1100px){
        .team-mb-row {
            padding-left: 4rem;
        }
    }
    @media screen and (max-width:1000px){
        .team-mb-row {
            padding-left: 40px;
        }
        .sc-team {
            background: var(--lightGrey3);
            z-index: auto;
        }
        .team-mb-scroll {
            background: transparent;
        }
        .sc-team > div {
            position: relative;
            z-index: 2;
        }
        .sc-team .sc-txt {
            width: 380px;
            margin-left: auto;
            margin-right: auto;
        }
        .team-mb-row {
            margin-top: 20px;
            gap: 12px;
        }
        .team-member {
            border-radius: 12px;
            width: 180px;
        }
        .mmb-info {
            border-radius: 12px;
            padding: 10px 17px;
            margin-top: -2rem;
        }
        .mmb-info h6, .mmb-info h5 {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.14px;
        }
        .mmb-info h4 {
            font-size: 11px;
            line-height: 14px;
            letter-spacing: 0.11px;
            margin-top: 5px;
        }
        .team-mb-scroll {
            padding-bottom: 40px;
        }
        video {
            border-radius: 12px 12px 0 0;
            height: 19rem;
        }


    }
    @media screen and (max-width: 600px) {
        .sc-team .sc-txt {
            width: 100%;
        }
    }
    @media screen and (max-width: 479px) {
        .sc-headline {
            padding: 0 16px;
        }
        .team-mb-row {
            padding-left: 16px;
        }
        .team-member {
            width: 240px;
        }
        .mmb-info {
            padding: 16px;
            margin-top: -20px;
        }
        .mmb-info h6, .mmb-info h5 {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.2px;
        }
        .mmb-info h4 {
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.16px;
            margin-top: 8px;
        }




    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const members = document.querySelectorAll('.team-member');

        members.forEach(member => {
            const video = member.querySelector('video');

            member.addEventListener('mouseenter', () => {
                video.currentTime = 0;
                video.play();
            });

            member.addEventListener('mouseleave', () => {
                video.pause();
                video.currentTime = 0;
            });
        });
        const slider = document.querySelector('.team-mb-scroll');

        const updateCursor = () => {
            if (slider.scrollWidth > slider.clientWidth) {
                slider.style.cursor = 'grab';
            } else {
                slider.style.cursor = 'default';
            }
        };

        updateCursor();
        window.addEventListener('resize', updateCursor);

        let isDown = false;
        let startX;
        let scrollLeft;

        slider.addEventListener('mousedown', (e) => {
            isDown = true;
            slider.classList.add('active');
            startX = e.pageX - slider.offsetLeft;
            scrollLeft = slider.scrollLeft;
        });
        slider.addEventListener('mouseleave', () => {
            isDown = false;
            slider.classList.remove('active');
        });
        slider.addEventListener('mouseup', () => {
            isDown = false;
            slider.classList.remove('active');
        });
        slider.addEventListener('mousemove', (e) => {
            if (!isDown) return;
            e.preventDefault();
            const x = e.pageX - slider.offsetLeft;
            const walk = (x - startX);
            slider.scrollLeft = scrollLeft - walk;
        });

        slider.addEventListener('wheel', (e) => {
            const canScrollHorizontally =
            slider.scrollWidth > slider.clientWidth &&
            (e.deltaY > 0 && slider.scrollLeft < slider.scrollWidth - slider.clientWidth ||
            e.deltaY < 0 && slider.scrollLeft > 0);

            if (canScrollHorizontally) {
            e.preventDefault();
            slider.scrollLeft += e.deltaY;
            }
        }, { passive: false });
    });
</script>